*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img01{
  border-radius: 100px;
  max-width: 80px;
  max-height: 100px;
}

body, ul, li, p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.3rem;
  font-family: 'Helvetica', sans-serif;
}

body {
  background-color: silver;
}

.logo {
  max-width: 50px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin-bottom: 1px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: rgb(14, 13, 13);
}

.fontes {
  color: #0f0f0f;
}

.fontesDiv {
  margin-top: 2%;
}

.header {
  background: rgb(104, 104, 104);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.5rem;
  align-items: center;
}


.menu {
  display: flex;
  align-items: center;
}

.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}

nav ul li a:hover {
  background: #ce9c4d;
  font-size: 1.3rem;
  border-radius: 5px;
}
.imagemCapa {
  display: inline-block;
  position: relative;
  width: 100%;
}

h1 {
  color: #132C33;
  font-size: 3rem;
  text-align: center;
}

h2 {
  color: #1d1c1c;
  font-size: 2.5rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 2rem;
  color: #132C33;
  margin-top: 2%;
}

p {
  text-align: justify;
  font-size: 1.5rem;
  color: #000000;
}

.activePage {
  background: rgb(255, 137, 1);
  font-size: 1.3rem;
  border-radius: 5px;
}

.conteudo {
  margin-left: 3%;
  margin-right: 3%;
  display: block;
}

.cabecalho-topico {
  margin-top: 3rem;
  padding: 1%;
}

.linkFonte:hover {
  display: block;
  padding: 1.5%;
  color: #f3dfcc;
  background: #305c6e;
  font-size: 1.3rem;
  border-radius: 5px;
}

.formContato > iframe {
  width: 100%;
  height: 800px!important;
  margin-top: 3%;
}

.conteudoVideo {
  display:inline-flex;
  column-gap: 5rem;
  width: 90%;
  margin-left: 5%;

}

.cardVideo {
  margin: 2%;
  padding: 2%;
  width: 150%;
  text-align: center;
  background-color: rgb(255, 137, 1);
  border-radius: 10px;
  border: silver;
  box-shadow: rgb(12, 12, 12) 1px 3px 5px;
}

.cardVideo > iframe{
  box-shadow: black 1px 3px 5px;
  border-radius: 20px;
}
.cardVideo > iframe{
  width: 100%;
  height: 300px!important;
  margin-top: 3%;
}

.imgHivVirus img{
  width: 100%;
  border-radius: 20px;
  border: gray 2px;
  box-shadow: black 1px 3px 5px;
}

.tituloNews{
  font-weight: bold;
  color: #000000;
}

.descNews > iframe{
  width: 100%;
  height: 250px!important;
  margin-top: 5%;
}

.noticiasCards {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 1%;
}

.descNews{
  margin: 2%;
  padding: 2%;
  width: 60%;
  text-align: center;
  background-color: rgb(255, 137, 1) ;
  border-radius: 10px;
  border: silver;
  box-shadow: rgb(12, 12, 12) 1px 3px 5px ; 
}

.textNews{
  text-align: center;
  padding: 2%;
  font-weight: lighter;
  font-size: 1.2rem ;
  color: #070707;
}

.footer {
  padding: 1% ;
  position: relative;
  left: 0;
  bottom: 0;
  display: block;
  background-color:rgb(104, 104, 104);
  color: black;
  text-align: center;
}

.linkedin {
  color: #132C33;
  font-weight: bold;
  font-size: 1.5rem;
}

.imagemLinkedin {
  width: 70px;
  height: 70px;
}

.estiloLinks{

color: black;

}

.imgnoticias img{
  width: 80%;
  height: 50%;
  border-radius: 20px;
}

.txt1{
  box-align: center;
  padding: 20px;
  background-color:rgb(255, 137, 1);
  border-radius: 10px;
  border: black;
  box-shadow:black;
}
.txt2{
  box-align: center;
  padding: 20px;
  background-color:rgb(255, 137, 1);
  border-radius: 10px;
  border: black;
  box-shadow:black;
}
.txt3{
  box-align: center;
  padding: 20px;
  background-color:rgb(255, 137, 1);
  border-radius: 10px;
  border: black;
  box-shadow:black;
}
.box1{
    width: 100%;
    height: 100%;
    background-color:rgb(255, 137, 1);
}